<%# Copyright 2009-2010 Justin Perkins %>
<ol class="intro">
  <li><strong>What is it?</strong>
    <span>A means to take advantage of a secondary email account that has a single catch-all email address for the entire domain.</span></li>
  <li><strong>Why would you want to do that?</strong>
    <span>So you can get those non-essential emails (mailing lists, receipts, etc.) out of your primary inbox, but without having to deal 
      with the hassle of checking a second inbox all the time.</span></li>
  <li><strong>OK, that sounds cool, now what?</strong>
    <span><%= link_to("Check out our quick setup guide", :action => 'presetup') %></span></li>
</ul>