<%# Copyright 2009-2010 Justin Perkins %>
<div class="intro">
  <h3>What does Simple Inbox do with my Google Apps Gmail Inbox?</h3>
  <p>Every hour, we will check for unread emails and take action upon them. A label will be applied (in gmail) to the message which 
    corresponds to the email inbox name (the part before the @ symbol), the email will be marked as read, and, depending on your 
    settings, we will auto-archive the email.</p>
  <p>At the end of each day, a digest email will be sent to your primary email account (if provided) that is a summary of the emails 
    you received that day. Only the subject line and sender will be sent to you. If you wish to read or take action on the email, 
    you will have to log into your Google Apps again to do so.</p>
</div>