<%# Copyright 2009-2010 Justin Perkins %>
<h1>Create an Account</h1>
 
<% form_for @user, :url => users_path do |f| %>
  <%= render :partial => "form", :object => f %>
  <p class="buttons">
    <%= f.submit "Register" %>
    <%= link_to 'or login', new_user_session_path %>
  </p>
<% end %>