<%# Copyright 2009-2010 Justin Perkins %>
<p>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <em>optional, your primary account where emails will be forwarded to, if you have rules to do so</em>
</p>
<p>
  <%= form.label :password, form.object.new_record? ? nil : "Change password" %>
  <%= form.password_field :password %>
</p>