<%# Copyright 2009-2010 Justin Perkins %>
<h1>Setup Your Linked Account (gmail)</h1>
 
<% form_for @linked_account, :url => linked_accounts_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit "Create" %>
    <%= link_to 'cancel linked account setup', user_path(current_user) %>
  </p>
<% end %>